@page "/"
@using Who.Said.It.Server.Services.Interfaces
@inject IPdfToTextService _pdfToTextService

@code {
    string HtmlContent { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        HtmlContent = _pdfToTextService.GetTextFromPdf("avengers-endgame-2019.pdf");
    }
}


<h1>Hello World!</h1>

<p>
    @HtmlContent
</p>
