@page "/"

<MudContainer 
    MaxWidth="MaxWidth.Large"
>
    <MudText 
        Typo="Typo.h2" 
        Align="Align.Center" 
        Style="margin-top:4rem;"
    >
        Wait a minute... Who said it?
    </MudText>

    <MudText 
        Typo="Typo.subtitle1" 
        Align="Align.Center"
    >
        Find the origin of your favorite movie dialogues.
    </MudText>
</MudContainer>

<MudContainer 
    MaxWidth="MaxWidth.Small"
    Style="margin: 6rem auto;"
>
    <div class="d-flex justify-center">
        <MudFab
            Color="Color.Primary"
            StartIcon="@Icons.Material.Filled.ArrowOutward" 
            Label="Try it out"
            Href="search"
        />
    </div>
</MudContainer>

<MudContainer 
    MaxWidth="MaxWidth.Small" 
    Style="margin-bottom:4rem;"
>

    <MudText 
        Typo="Typo.h6" 
        Style="margin-top: 2rem;"
    >
        Powered by a curated dataset of thousands of iconic lines across over 20 of the most beloved movie franchises, the app delivers real-time
        results that are fast, accurate, and surprisingly satisfying. Whether you're chasing down a legendary quote or piecing together a vague memory,
        WhoSaidIt? makes it effortless to reconnect with the moment.
    </MudText>

    <MudText 
        Typo="Typo.h6" 
        Style="margin-top: 1rem;"
    >
        This is more than a trivia tool — it's a frictionless search experience built around dialogue, recognition, and nostalgia.
    </MudText>

    <MudText 
        Typo="Typo.h6" 
        Style="margin-top: 1rem;"
    >
        Built for film lovers, storytellers, and anyone who’s ever said: 
    </MudText>

    <MudText 
        Typo="Typo.subtitle1" 
        Align="Align.Center" 
        Style="margin-top:1rem;"
    >
        <i>
            “I know that line… but from where?”
        </i>
    </MudText>
</MudContainer>